<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;background-size: cover;">
    <div class="auth-box on-sidebar">
        <div *ngIf="showLogin">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-text.svg" alt="logo"  /></span>
                <!-- <h5 class="font-medium m-b-20">Sign In to Admin</h5> -->
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="loginForm" (submit)="login()">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                            <small class="form-text text-danger w-100" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                                Please enter the email address
                            </small>

                            <small class="form-text text-danger w-100" *ngIf="loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].touched">
                                Email must be a valid e-mail address
                            </small>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
                            <small class="form-text text-danger w-100" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                                Please enter the password
                            </small>

                            <small class="form-text text-danger w-100" *ngIf="loginForm.controls['password'].hasError('minLength') && loginForm.controls['password'].touched">
                                Password must be atleast 8 characters
                            </small>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}" id="customCheck1">
                                    <label class="custom-control-label text-white" for="customCheck1">Remember me</label>
                                    <a (click)="goToforgotPassword()" href="javascript:void(0)" id="to-recover" class="text-white float-right"><i class="fa fa-lock m-r-5"></i> Forgot password</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-white" type="submit">Log In</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <a href="javascript:void(0)" class="btn  btn-facebook m-r-5" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href="#/signup2" class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="forgotPwd">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-text.svg" alt="logo" /></span>
                <h5 class="font-medium my-3">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Email">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-white" type="submit" name="action">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
