<style>
    .shw_pass {
    position: relative;
    background: #f8f9fa;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
</style>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat; background-size: cover">
    <div class="auth-box p-0">
        <div class="logo p-3 bg-white">
            <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/logo-text.svg"></span>
        </div>
        <div class="p-3">
           
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="changepassForm" class="form-horizontal m-t-20" >
                        <div class="form-group row inner-addon right-addon">
                            <div class="col-12 input-group">
                                <input class="form-control form-control-lg" formControlName="oldPassword" [type]="showPassword ? 'text' : 'password'" required="" placeholder="Old Password">
                                <div class="shw_pass">
                                    <i alt="show" class="fa fa-eye" 
                                    (click)="showPassword = !showPassword"
                                    [class.hide]="showPassword"></i>
                                    <i alt="hide" class="fa fa-eye-slash" 
                                    (click)="showPassword = !showPassword"
                                    [class.hide]="!showPassword"></i>
                                  </div>
                            </div>
                            <div class="col-12 mt-1">
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('required') && changepassForm.controls['oldPassword'].touched">
                                    *Old Password is required.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('minlength') &&
                                    !changepassForm.get('oldPassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('maxlength') &&
                                    !changepassForm.get('oldPassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group row inner-addon right-addon">
                            <div class="col-12 input-group">
                                <input class="form-control form-control-lg" formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'" required="" placeholder="New Password">
                                <div class="shw_pass">
                                    <i alt="show" class="fa fa-eye" 
                                    (click)="showNewPassword = !showNewPassword"
                                    [class.hide]="showNewPassword"></i>
                                    <i alt="hide" class="fa fa-eye-slash" 
                                    (click)="showNewPassword = !showNewPassword"
                                    [class.hide]="!showNewPassword"></i>
                                  </div>
                            </div>
                            <div class="col-12 mt-1">
                                <mat-error class="text-danger  px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('required') && changepassForm.controls['newPassword'].touched">
                                    *New Password is required.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('minlength') &&
                                    !changepassForm.get('newPassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('maxlength') &&
                                    !changepassForm.get('newPassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group row inner-addon right-addon">
                            <div class="col-12 input-group">
                                <input class="form-control form-control-lg" [type]="showCnfPassword ? 'text' : 'password'" formControlName="retypepassword" required="" placeholder="Retype Password">
                                <div class="shw_pass">
                                    <i alt="show" class="fa fa-eye" 
                                    (click)="showCnfPassword = !showCnfPassword"
                                    [class.hide]="showCnfPassword"></i>
                                    <i alt="hide" class="fa fa-eye-slash" 
                                    (click)="showCnfPassword = !showCnfPassword"
                                    [class.hide]="!showCnfPassword"></i>
                                  </div>
                            </div>
                            <div class="col-12 mt-1">
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('required') && changepassForm.controls['retypepassword'].touched">
                                    *Retype Password is required.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('minlength') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('maxlength') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                                <mat-error class="text-danger px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('passwordMismatch') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                    *Password mismatched
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg bg-white text-dark"[disabled]="!changepassForm.valid" (click)="changepass()" type="submit">Submit</button>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a class="btn btn-block btn-lg btn-danger" (click)="history.back()">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
