<div class="card">
    <div class="card-body">
        <form action="">
          <div class="row">
            <div class="col-md-5">
              <label class="control-label">Credit Rate Exchange in terms of Dollars</label>
            </div>
            <div class="col-md-5">
              <label class="control-label">Minimum Credit Buy Limit</label>
            </div>
          </div>
      <div class="row">
        <div class="col-md-5">
            <div class="form-group"><input type="text" id="PricePer" placeholder="Credit limit" class="form-control"></div>
        </div>
        <div class="col-md-5">
            <div class="form-group"><input type="text" id="BaseFare" placeholder="Credit rate" class="form-control"></div>
        </div>
        <div class="col-md-2 ">
         <a href="javascript:void()" class="btn btn-primary"><i class="mdi mdi-minus"></i></a>
      </div>      
          </div>
          <div class="row">
            <div class="col-md-5">
                <div class="form-group"><input type="text" id="PricePer" placeholder="Credit limit" class="form-control"></div>
            </div>
            <div class="col-md-5">
                <div class="form-group"><input type="text" id="BaseFare" placeholder="Credit rate" class="form-control"></div>
            </div>
            <div class="col-md-2 ">
             <a href="javascript:void()" class="btn btn-primary"><i class="mdi mdi-minus"></i></a>
          </div>      
              </div>
      <div class="row">
        <div class="col-md-12 text-right pb-3">
          <a href="javascript:void()" class="btn btn-primary"><i class="mdi mdi-plus"></i> </a>
        </div>
      </div>
              <div class="row">
                <div class="col-md-6">
                 <button class="btn btn-primary">Save</button>
                </div>
                
                  </div>
        </form>
    </div>
</div>