.match_box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0px 20px;
}
.heart-box{
    width: 60px;
    height: 60px;
    background-color: #172b4d;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    top: 40px;
}
img {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
  }